

Checks: '-*,
         cppcore*,
         clang-analyzer-*,
         google-*
         -google-runtime-references,
         bugprone-*,
         -bugprone-easily-swappable-parameters,
         cert-*,
         -cert-err58-cpp,
         hicpp-*,
         -hicpp-avoid-goto,
         modernize-*,
         performance-*,
         readability-*,
         -readability-identifier-length
         '

HeaderFilterRegex: 'cpp/.*'

CheckOptions:
  - { key: readability-function-cognitive-complexity.IgnoreMacros,     value: 1 }
  - { key: readability-function-cognitive-complexity.Threshold,        value: 40 }
