

Checks: '-*,
         cppcore*,
				 clang-analyzer-*,
				 google-*
				 -google-runtime-references,
				 bugprone-*,
				 -bugprone-easily-swappable-parameters,
				 cert-*,
				 hicpp-*,
				 modernize-*,
				 performance-*,
				 readability-*
				 '

HeaderFilterRegex: 'cpp/.*'

#WarningsAsErrors: '*'