

Checks: '-*,
         cppcore*,
				 clang-analyzer-*,
				 google-*
				 -google-runtime-references,
				 bugprone-*,
				 -bugprone-easily-swappable-parameters,
				 cert-*,
				 hicpp-*,
				 -hicpp-avoid-goto,
				 modernize-*,
				 performance-*,
				 readability-*
				 '

HeaderFilterRegex: 'cpp/.*'

#WarningsAsErrors: '*'

CheckOptions:
  - { key: readability-function-cognitive-complexity.IgnoreMacros,     value: 1 }
