InheritParentConfig: true

Checks: '-cppcoreguidelines-avoid-magic-numbers,
         -readability-magic-numbers,
         -bugprone-suspicious-include,
         -modernize-use-trailing-return-type,
         cppcoreguidelines-avoid-goto'
