
# A proto whose contents include nested structs. Instantiating it twice gives two independent
# copies; see config_example20.cfg, which overrides a key in one of them.

struct protos {
  proto shape {
    struct dims {
      width = 0
      height = 0
    }
    struct style {
      colour = "red"
    }
  }
}

struct shapes {
  reference protos.shape as first {}
  reference protos.shape as second {}
}
