another_key = "test"

struct test1 {
    key1 = "value"
    key2 = 1.342    # test comment here
    key3 = {{ 0.5 * (-0.25 * pi) }}
    f = ["foo", "bar", "baz"]
}

struct test2 {
    my_key = "foo"
    n_key = 0x1234
    var_ref = $(test1.key3)

    # End comment
}

solo_key  =     10.1